.dashboard-container{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    /* color: #3c4b64; */
    background-color: #ebedef;
}

.sidebar{
    color: #fff;
    margin-left: 0;
    left: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1030;
    display: flex;
    flex: 0 0 256px;
    flex-direction: column;
    /* order: -1; */
    width: 256px;
    padding: 0;
    background-color: #3c4b64;
}

.sidebar-logo{
    background-color: rgba(0, 0, 21, 0.2);
    display: flex;
    flex: 0 0 56px;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.sidebar-navigations{
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
.sidebar-nav-item{
    width: inherit;
    color: hsla(0,0%,100%,.8);
}
.sidebar-always-active{
    background: #321fdb;
    color: #fff;
}
/* .ui.sidebar-nav-button{
    background: transparent;
    border-radius: 0;
    color: inherit;
    transition: background .3s,color .3s;

}
.ui.sidebar-nav-button:hover{
    color: #fff;
    background: #321fdb;
} */

.sidebar-nav-link{
    display: flex;
    flex: 1 1;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
    padding: .8445rem 1rem;
    transition: background .3s, color .3s;
    color: inherit;
    cursor: pointer;
}
.sidebar-nav-link:hover{
    color: #fff;
    background: #321fdb;
}

.sidebar-nav-link i.icon{
    flex: 0 0 56px;
    height: 1.09375rem;
    font-size: 1.09375rem;
    text-align: center;
    transition: 0.3s;
    fill: currentColor;
}
.sidebar-nav-title{
    color: hsla(0,0%,100%,.6);
    padding: .75rem 1rem;
    margin-top: 1rem;
    font-size: 80%;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s;
}
.sidebar-nav-divider{
    height: 10px;
    margin: 0.5rem;
}

/* sidebar ends */
.right-panel{
    margin-left: 256px;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    min-width: 0;
    min-height: 100vh;
}
.dashboard-header{
    position: sticky;
    top: 0;
    position: -webkit-sticky;
    right: 0;
    left: 0;
    z-index: 1029;
    background: #fff;
    border-bottom: 1px solid #d8dbe0;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    min-height: 56px;
}
.header-nav-list{
    margin-left: auto;
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 56px;
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
}
.header-nav-item{
    margin: 0 .5rem 0 .5rem;
    position: relative;

}
.header-dropdown-toggle{
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
}
.header-avatar-div{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50em;
    width: 36px;
    height: 36px;
    font-size: 14.4px;
    cursor: pointer;
}
.header-avatar{
    width: 100%;
    height: auto;
    border-radius: 50em;
    vertical-align: middle;
}
.header-dropdwon-menu{
    margin: 0;
    position: absolute;
    inset: 0px auto auto 0px;
    top: calc(36px + 0.73rem);
    z-index: 1000;
    display: none;
    left: -150%;
    min-width: 10rem;
    font-size: 0.875rem;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border-radius: 0.25rem;
    color: #3c4b64;
    background-color: #fff;
    border: 1px solid #d8dbe0;
}
.header-dropdown-item{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1.25rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.header-dropdown-item:hover{
    color: #455164;
    background-color: #ebedef;
}
.content-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.content{
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 1;
    min-width: 0;
    padding-top: 2rem;
}
.fluid-container{
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
}

.ui.basic.striped.table .userlist-hover:hover{
    background-color: rgba(0,0,0,0.15) !important;
}

div.ui.user-list-card{
    width: 70%;
    min-width: 500px;
    margin: 0 auto;
}
.user-list-table-hContent{
    padding-top: 0;
}
.ui.dimmer{
    z-index: 1031;
}
.side-nav-active{
    color: #fff;
    background: hsla(0,0%,100%,.05);
}

/* .css-2b097c-container{
    width: 600px !important;
} */