/* .containerTwo {
    display: flex;
    flex-direction: row;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
} */
.containerTwo {
  padding: 2vh;
}
.container {
  text-align: center;
  display: flex;
  place-items: center;
  min-height: 100vh;
  /* background-color: #202952; */
  background-image: url(../../shutterstock_1182989344-scaled.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10px;
}
/* .hs-link{
    padding: 5px 10px;
    font-size: 18px;
    color: #fff;
} */
