.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.content-wrapper{
    min-width: 550px;
    max-width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px 40px;
    border-radius: 4px;
}
.content-wrapper >* {
    text-align: center;
}
.name{
    color: blue;
}
.pending{
    color: #000;
    background: yellow;
    padding: 3px 6px;
    border-radius: 6px;
    font-weight: 600;
}
.banned{
    color: #fff;
    background: red;
    padding: 3px 6px;
    border-radius: 6px;
    font-weight: 600;
}
.active {
    color: #fff;
    background: green;
    padding: 3px 6px;
    border-radius: 6px;
    font-weight: 600;
}
.inactive{
    color: #fff;
    background: gray;
    padding: 3px 6px;
    border-radius: 6px;
    font-weight: 600;
}

p{
    font-weight: 500;
}
